.contact-section {
  min-height: 100vh;
  padding: 6rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #E0ACD5 0%, #F4EBE8 100%);
  color: white;
}

.contact-section h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-section p {
  font-size: 1.25rem;
  max-width: 800px;
  text-align: center;
  line-height: 1.8;
}

form {
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 25px 25px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  color: #333;
  margin: 25px;
}

form .input-box {
  margin-top: 20px;
}

.input-box .field {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  color: #333;
  margin-top: 8px;
}

.input-box .field.message {
  height: 200px;
  resize: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

form button {
  width: 100%;
  height: 55px;
  background: #1B9AAA;
  border: none;
  border-radius: 6px;
  box-shadow: 0 8px 30px rgba(107, 92, 165, 0.15);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-top: 25px;
  transition: all .3s ease;
}

form button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);

}
@media (max-width: 768px) {
  .contact-section {
    padding: 5rem 1.5rem 2rem;
  }

  .contact-section h2 {
    font-size: 2rem;
  }

  .contact-section p {
    font-size: 1rem;
  }
}

